<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      {{register-card
          model=newUser
          onsubmit=(route-action 'doRegister' newUser)}}
    </div>
  </div>
</div>
